
<div class="flex-container">
  <img src="../../assets/images/logo.png">
  <h1><b>TRANSPORT LICENCE SYSTEM</b></h1>
</div>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

  <a class="navbar-brand" routerLink=""></a>
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#"></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/villains">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="nav">
  <ul style="list-style-type: none;">
    <br>

    <li><a class="nav-link" routerLink="contact">Personal Information</a></li><br>
    <li><a class="nav-link" routerLink="home">Payment Information</a></li><br>
    <br>
    <li><a class="nav-link" routerLink="personal">Renewal</a></li>
    <br><br>
    <li><a class="nav-link" routerLink="dai">Help</a></li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>