<div class="block1">
<h1><b>PAYMENT INFORMATION</b></h1>
<div class="ahundred">
    <div class="progress">
        <div class="proress-bar sm-success"></div>
    </div>
    <div class="container">
    <form>
        <div class="row">
            <div class="col-md-6">
        Receipt:<br><br>
        <input type="file" class="form-control-file border" name="receipt"><br><br>
    </div>
    <div class="col-md-6">
        Date:<br><br>
        <input type="date" name="date">
        </div>
        </div>
    </form>
    
    </div>
    </div>
    </div>
