<div class="container">
<h1 style="font-family: courier;"><b>PERSONAL INFORMATION</b></h1>
<table class="table table-condensed display table-striped" style="width: 100%; margin-top:10px">
    <thead>
    <tr>
        <th>Full_name</th>
        <th>Address</th>
        <th>email</th>
        <th>phone_number</th>
        <th>Blood_group</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Date_of_birth</th>
        <hr>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table></div>
<hr style="color: blue;">