<div class="col-md-6 top-margin" style="background-color: aqua; margin-left: 100px;">
    <button routerLink="/blog-component" class="btn btn-secondary" type="submit" name="button" style="margin-top: 30px; margin-left: 70px;"> CLICK HERE FOR STARTING APPLICATION FOR LICENSE </button>
        <button routerLink="/about" class="btn btn-primary" type="submit" name="button" style="margin-top: 80px; margin-left: 70px;" > CLICK HERE TO FILL THE PARTICULARS TO BE FURNISHED </button>
        <button routerLink="/Personal" class="btn btn-primary" type="submit" name="button" style="margin-top: 100px; margin-left: 90px;" > CLICK HERE FOR ATTACHING THE DOCUMENTS </button>


    

</div>
