
   
      <header class="header">
        <h1 id="title" class="text-center"></h1>
        <p id="description" class="description text-center">
        
        </p>
      </header>
    
                 <div class="container">
                     <h1><b>RENEWAL FORM</b></h1>
                    <div class="row"> 
                        
                        <div class="col-md-4">
                            <h1 style=""></h1><br><br>
                            <label for="species">fullname:
                                <input class="form-control" name="species" placeholder="enter your name">
                            </label><br><br><br><br>
                            <label for="number of Fish">car class:
                                <input class="form-control" name="number of Fish" placeholder="enter the class of car">
                            </label><br><br><br><br>
                            <button class="btn btn-primary">RENEW</button>
                            
                           
                        </div>
                        <div class="col-md-4" style="margin-top:63px;">
                            <label for="price">address:
                                <input class="form-control" name="price" placeholder="enter your address">
                            </label><br><br>
                            <label for="weight" style="margin-top: 59px;">age:
                                <input class="form-control" name="weight" placeholder="enter your age">
                            </label><br><br><br>
                            
                            
                            
                        </div>
                        <div class="col-md-4"style="margin-top:65px;">
                            <label for="number of Fish">blood group:
                                <input class="form-control" name="number of Fish" placeholder="enter your blood group">
                            </label><br><br>
                            <label for="number of Fish" style="margin-top: 65px;">startdate:
                                <input class="form-control" name="number of Fish" type="date">
                            </label><br><br><br>
                           
                        </div>
                       
      
    </div>
    <div class="row">
        <div class="col-md-4">
            <h1></h1>
           
            <!-- <button class="btn btn-primary">SUBMIT</button> -->
        </div>
        <div class="col-md-4" style="margin-top: 5vh;">
            <label for="number of Fish">Vehicle name:
                <input class="form-control" name="number of Fish" placeholder="enter the vehicle name">
            </label><br><br><br><br>

        </div>
        <div class="col-md-4" style="margin-top: 5vh;">
            <label for="number of Fish">Expiry date:
                <input class="form-control" name="number of Fish" type="date">
            </label><br><br><br>
            
        </div>
    </div>
    </div>
