<div class="yn-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 mt-3">
      <div class="border border-3 border-primary"></div>
      <div class="card bg-white shadow-lg">
        <div class="card-body p-5">
          <form class="mb-3 mt-md-3">
            <h2 class="fw-bold mb-2 text-uppercase text center">LOGIN FORM</h2>
            <p>please enter your login details</p>
            <div class="mb-3">
              <label for="password">Username
                <input class="form-control" name="password" id="password" placeholder="enter your username">
              </label>
              <label for="password">Address
                <input class="form-control" name="username" id="password" placeholder="enter your address">
              </label>
            </div><br>
          
            <div class="mb-3">
              <label for="password">password
                <input class="form-control" name="username" id="password" placeholder="enter your password">
              </label>
            </div>
            <p><b>forget password?</b></p>
            <div class="d-grid">
              <button class="btn btn-outline-dark" type="login" style="background-color:aqua;">LOGIN</button>
            </div>
          </form>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  
  