
<div class="block">
 
  <div class="progress">
    <div class="progress-bar  sm-success" style="width: 100%;border-radius: 1px;">
    </div></div><br>
    <div class="container"> 
  <h1 style="font-family: courier;"><b>APPLICATION FORM</b></h1>
  <img src="../../assets/images/logo.png" class="center">
<form>
  <div class="row">
  
    <div class="col-md-4">
        <label for="firstname">first name:
          <input class="form-control" type="text" name="firstname">
        </label>
        <br><br>
             
        <label for="address">Address:
          <input class="form-control" type="text" name="Address">
        </label>
    </div>
    
      <div class="col-md-4">
        <label for="lastname">last name:
          <input class="form-control" type="text" name="lastname">
        </label><br><br>

        <label for="dob">Date of birth:
          <input class="form-control" type="date" name="dob">
        </label>
      </div>
      <div class="col-md-4">
        <label for="email">email:
          <input class="form-control" type="text" name="email">
        </label><br><br>
        <label for="education">Choose education level:
        <select name="education">
          <option value="none">None</option>
          <option value="secondary">Adult education</option>
          <option value="primary">primary education</option>
          <option value="secondary">Secondary education</option>
          <option value="secondary">Above secondary</option>
        </select>
        </label>
      

      </div><br><br><br>
      <div class="row">
      <h1 style="font-family: courier;"><b>Have you qualified to get learner's licence</b></h1>
      <div class="col-md-4"></div>
      <div class="col-md-4">
      <input type="radio" name="option" value="Yes">Yes<br><br>
      <input type="radio" name="option" value="No">No<br><br>
      <input type="radio" name="option" value="Not sure">Not sure
      </div>
     
    </div>
    </div>
  </form>
    </div>
</div>
  
  

   
    

    







    