<h1><b>APPLICATION FORM FOR LEARNER'S LICENCE</b></h1><br>
<h1>Please attach together with form copies of the following documents:</h1>
<div class="grid-container">
    <div class="grid-item">>>> Birth certificate or affidavit </div>
    <div class="grid-item">>>> Receipt for prescribed fees</div>
    <div class="grid-item">>>> Three photographs which comply with requirements of regulations</div>
    <div class="grid-item">>>> Medical certificate</div>
    <div class="grid-item">>>> Letter of admission to attend driving school</div>
    <div class="grid-item">>>> Original learner's licence or a declaration of lost such as 
        licence(only when apply for duplicate learners licence)
    </div>
   
</div>